# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=20000

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
CONFIG_FREERTOS_HZ=1000

# disable idle watchdog for main task
# this is because we'll just be running user code forever,
# and we don't want a user's unyielding program to trigger the watchdog.
CONFIG_ESP_TASK_WDT_CHECK_IDLE_TASK_CPU0=n

# Workaround for https://github.com/espressif/esp-idf/issues/7631
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=n
#CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=n

# enable verbose logging
#CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
#CONFIG_LOG_MAXIMUM_LEVEL_VERBOSE=y

# enable https servers (client works by default)
CONFIG_ESP_HTTPS_SERVER_ENABLE=y
